:root {
    --font-weight-right: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1s);
    width: 100%;
    overflow-x: hidden;
    font-family:'Montserrat','Noto Sans KR', 'sans-serif';
}

.container {
    width: 1200px;
    margin: 70px auto;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

ul {
    margin: 0;
}

/* reset css  */
.hide {
    display: none;
}

/* font  */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
    url('fonts/montserrat/Montserrat-Bold.ttf') format('ttf'),
    url('fonts/montserrat/Montserrat-Light.ttf') format('ttf'),
    url('fonts/montserrat/Montserrat-Medium.ttf') format('ttf'),
    url('fonts/montserrat/Montserrat-Regular.ttf') format('fft');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}


h3 {
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: var(--font-weight-right);
    line-height: 24px;
    margin: 0;
    padding: 30px 0 34px;
}

span {
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    border-bottom: 1px solid #333;
}


/************** header  **************/

header {
    padding: 0 60px;
    display: flex;
    height: 84px;
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
}

header>div {
    display: flex;
    align-items: center;
    width: 100%;
}

#header {}

#header.header--dark {
    background: #999;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}


.lnb>nav>ul {
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    height: 84px;
    align-items: center;
    z-index: 100;
}

.lnb>nav>ul>li {
    display: flex;
    /* padding: 0 20px; */
    width: 85px;
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    height: 100%;
    align-items: center;
}

.lnb>nav>ul>li>:hover {
    font-weight: var(--font-weight-bold);
}

.lnb>nav>ul>li>a {
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
}

.lnb>nav>ul>li:first-child {
    margin-left: 0;
}

.lnb>nav>ul>li:last-child {
    margin-right: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    display: flex;
    left: 0;
    padding-top: 40px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-out;
}

.overlay {
    width: 100vw;
    height: 0;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.lnb>nav>ul li:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.lnb>nav>ul li:hover {
    color: #333;
}

.lnb .overlay.active {
    visibility: visible;
    height: 450px;
    opacity: 1;
}

.dropdown ul {
    flex-direction: row;
    width: 100%;
    padding-left: 0;
}

.dropdown ul li {
    font-size: 14px;
    width: 120px;
    margin: 0 10px;
    padding: 6px;
    font-weight: var(--font-weight-right);
}

.dropdown ul li:first-child a {
    font-weight: var(--font-weight-bold);
    cursor: unset;
}

.dropdown ul li a {
    position: relative;
    height: 100%;
}

.dropdown ul li a:hover {
    font-weight: var(--font-weight-medium);
}

.dropdown ul li a:after {
    content: '';
    width: 0;
    height: 1px;
    background: #333;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .3s ease;
}

.dropdown ul li a:hover:after {
    width: 100%;
}

.dropdown ul li:first-child {
    font-weight: var(--font-weight-bold);
    pointer-events: none;
}

form {
    margin-left: 42px;
    border-bottom: 1px solid #fff;
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}

.search input::placeholder {
    color: #fff;
    opacity: 1;
}

.search.active input::placeholder {
    color: #333;
}

.search button {
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    color: #fff;
    cursor: pointer;
}

.my {
    margin-left: 30px;
}

.my a {
    color: #fff;
}

.my .cart {
    margin-left: 26px;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    width: 104px;
    height: 32px;
    position: relative;
}

.logo_dark {
    display: none;
    position: absolute;
}


/************** visual  **************/
.visual_section.box {
    position: relative;
    height: 100vh;
    width: 100%;
}

.visuals {
    width: 300%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in;
}

.visual {
    background: url('img/visual_main.png') no-repeat center / cover;
    height: 100%;
    width: 33.333333%;
    display: flex;
}

.visual:nth-child(2) {
    background: url('img/visual_main2.png') no-repeat center / cover;
}

.visual:last-child {
    background: url('img/visual_main3.png') no-repeat center / cover;
}

input[name=tabmenu] {
    display: none;
}

.visual-pagination.swiper-pagination {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

.swiper-pagination span {
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    color: #fff;
    border: none;
    margin: 15px 0;
    font-size: 16px;
    cursor: pointer;
    text-align: right;

}

/************** season  **************/
.season {
    padding: 70px 0;
    display: flex;
}

.season .left {
    flex: 1;
}

.season .right {
    flex: 1;
}

.season .left_img {
    width: 510px;
    height: 610px;
    background: url('img/season1.png') no-repeat top / cover;
    margin-top: 30px;
}

.season .right_img {
    width: 600px;
    height: 470px;
    background: url('img/season2.png') no-repeat top / cover;
    margin-bottom: 53px;
}


/************** collection  **************/
#collection {
    background: #f5f5f5;
}

.collection_section {
    position: relative;
}

.collection_section {
    padding: 70px 0;
    overflow: hidden;
    position: relative;
}

.collection_section input {
    display: none;
}

.collections {
    width: 300%;
    height: 580px;
    display: flex;
    overflow: hidden;
    transition: all .5s;
}

.collection {
    width: 100%;
    height: 580px;
    position: relative;
    display: flex;

}

.clt.img {
    width: 825px;
    height: 580px;
}

.collection .clt.img {
    background: url('img/collection.png') no-repeat center / cover;
}

.collection:nth-child(2) .clt.img {
    background: url('img/collection2.png') no-repeat center / cover;
}

.collection:nth-child(3) .clt.img {
    background: url('img/collection3.png') no-repeat center / cover;
}

.collection .descrip {
    display: inline-block;
    width: 416px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 50;
    transform: translateY(-50%);
}

/* collection slide  */

.collection_pagination.swiper-pagination {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}


/************** new  **************/
.new {
    position: relative;
    overflow: hidden;

}

.newitems {
    display: flex;
    justify-content: space-between;
    width: 200%;
    transition: all .3s ease-in;
    margin-top: 20px;
}

.newitem {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.newitem_info {
    width: 100%;
}

.newitem_info h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 44px 0 0;
}

.newitem_info p {
    padding: 35px 0 50px;
}

.newitem_photo_box {
    display: flex;
    position: relative;
}

.item {
    margin: 0 10px;
}

.item.photo .newitem_photo {
    width: 450px;
    height: 450px;
    background: #f6f7f9 url(img/new1.png) no-repeat center;
}

.item.photo:last-child {
    margin-right: 0;
}

.item.photo:last-child .newitem_photo {
    width: 450px;
    height: 450px;
    background: #f6f7f9 url(img/new2.png) no-repeat center;
}

.photo_name {
    font-size: 12px;
    padding: 18px 0 0;
    line-height: 1;
    position: relative;
}

.item .photo_name em {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: block;
    background: #f23b34;
    position: absolute;
    bottom: 0;
    right: 0;
}

.item .photo_name em:before {
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    background: #dedede;
}

.item .photo_name em:after {
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    background: #1c1c1c;
}

.item:last-child .photo_name em {
    background: #7d2b0d;
}

.item:last-child .photo_name em:before {
    background: #dedede;
}

.item:last-child .photo_name em:after {
    background: #1c1c1c;
}

.photo_price {
    font-size: 12px;
    color: #888888;
    text-decoration: line-through;
    position: relative;
    display: inline-block;
    line-height: 1;
}

.photo_price:after {
    content: '280,000';
    font-size: 13px;
    color: #000;
    position: absolute;
    top: 0;
    left: 100%;
    font-weight: var(--font-weight-medium);
    margin-left: 5px;
}

.newitem_btn {
    position: absolute;
    font-size: 13px;
}

.newitem_btn {
    position: absolute;
    top: 0;
    left: 0;
    color: #aaa;
}

.newitem_btn label {
    cursor: pointer;
}

.newitem_button:first-child {
    margin-right: 35px;
}

.new input {
    visibility: hidden;
}

input[id=newtab1]:checked~.newitem_btn label[for=newtab1],
input[id=newtab2]:checked~.newitem_btn label[for=newtab2] {
    color: #000;
}

input[id=newtab1]:checked~.newitems {
    margin-left: 0;
}

input[id=newtab2]:checked~.newitems {
    margin-left: -100%;
}

/* new section slide  */
.new-pagination.swiper-pagination {
    position: absolute;
    top:0;
    display: flex;
    padding-right: 60px;
}

.new-pagination.swiper-pagination span {
    color: #aaaaaa;
    width: 95px;
    height: auto;
    text-align: left;
    font-size: 13px;
    line-height: 1;
    margin: 0 !important;
}

.new-pagination .swiper-pagination-bullet-active {
    color: 000;
    font-size: 13px !important;
}



/************** video  **************/
.video {
    padding: 70px 0;
    /* frameborder="0" */
}


/************** footer  **************/
#footer {
    background: #f5f5f5;
    position: relative;
}

.footer.container {
    margin: 70px auto 0;
}

.company_info {
    padding: 50px 0 55px;
    display: flex;
    justify-content: space-between;
    position: relative;


}

.company_info:after {
    content: '';
    position: absolute;
    left: -450px;
    bottom: 0;
    background: #e8e8e8;
    width: 3000px;
    height: 1px;
}

.company_info div {
    display: flex;
    flex-direction: column;
}

.company_info span {
    font-size: 15px;
    font-weight: var(--font-weight-medium);
    border: none;
    display: flex;
    flex-direction: column;
    line-height: 1;
    cursor: unset;
}

.company_info div:nth-child(2) span,
.company_info div:nth-child(3) span,
.company_info div:last-child span {
    margin-bottom: 25px;
}


.company_info em {
    font-size: 30px;
    font-weight: var(--font-weight-medium);
    font-style: unset;
}

.company_info p {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    padding: 0;
    line-height: 25px;
    color: #858585;
}

.company_info div:last-child p a {
    color: #858585;
}

.footer_adress {
    display: flex;
    justify-content: space-between;
    padding: 42px 0;
}

.footer_adress .adress p {
    padding: 0;
    font-size: 12px;
    font-weight: var(--font-weight-regular);
    line-height: 22px;
    color: #858585;
}

.footer_adress .adress p em {
    font-style: unset;
    color: #000;
}

.footer_adress .social ul {
    display: flex;
    padding: 0;
}

.footer_adress .social li {
    margin: 0 6px;
    cursor: pointer;
}

.footer_adress .social li .fab {
    font-size: 18px;
    color: #858585;
}

.footer_adress .social li span {
    color: transparent;
    font-size: 0;
}