/** 
 * 마일스톤 관련 util 
 * @ClassName milestoneApp 
 * @Description milestoneApp javascript  
 * @Modification-Information 
 * <pre> 
 *    수정일       수정자              수정내용 
 *  ----------   ----------   ------------------------------- 
 *  2019. 11. 14.   윤지환        최초생성 
 * </pre> 
 * @author A-CDM 시스템 : 윤지환
 * @since 2019. 11. 14. 
 * @version 1.0 
 * @see  
*/

:root {
    --font-weight-right: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1s);
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


@font-face {
    font-family: "NotoSansKR";
    src: url("fonts/notosans/NotoSansKR-Light.otf") format("otf");
    font-style: normal;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("fonts/montserrat/Montserrat-Light.ttf") format("ttf");
    font-style: normal;
    unicode-range: U+0041-005A, U+0061-007A;
}


h3 {
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: var(--font-weight-right);
    line-height: 24px;
    margin: 0;
    padding: 30px 0 34px;
}

span {
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    border-bottom: 1px solid #333;
}


/************** header  **************/
/* 
treyter
trgr 

*/
header {
    padding: 0 60px;
    display: flex;
    height: 84px;
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
}

header>div {
    display: flex;
    align-items: center;
    width: 100%;
}

.lnb>nav>ul {
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    height: 84px;
    align-items: center;
    z-index: 100;
}

.lnb>nav>ul>li {
    display: flex;
    padding: 0 20px;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.lnb>nav>ul>li:hover {
    font-weight: var(--font-weight-bold);
}

.lnb>nav>ul>li>a {
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
}

.lnb>nav>ul>li:first-child {
    margin-left: 0;
}

.lnb>nav>ul>li:last-child {
    margin-right: 0;
}

.dropdown {
    position: absolute;
    top: 100%;
    display: flex;
    left: 0;
    padding-top: 40px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-out;
}

.overlay {
    width: 100vw;
    height: 0;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.lnb>nav>ul li:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.lnb>nav>ul li:hover {
    color: #333;
}

.lnb .overlay.active {
    visibility: visible;
    height: 450px;
    opacity: 1;
}

.dropdown ul {
    flex-direction: row;
    width: 100%;
    padding-left: 0;
}

.dropdown ul li {
    font-size: 14px;
    width: 120px;
    margin: 0 10px;
    padding: 6px;
}

.dropdown ul li a {
    position: relative;
    height: 100%;
}

.dropdown ul li a:after {
    content: '';
    width: 0;
    height: 1px;
    background: #333;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .3s ease;
}

.dropdown ul li a:hover:after {
    width: 100%;
}

.dropdown ul li:first-child {
    font-weight: var(--font-weight-bold);
    pointer-events: none;
}

form {
    margin-left: 42px;
    border-bottom: 1px solid #fff;
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}

.search input::placeholder {
    color: #fff;
    opacity: 1;
}

.search.active input::placeholder {
    color: #333;
}

.search button {
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    color: #fff;
    cursor: pointer;
}

.my {
    margin-left: 30px;
}

.my a {
    color: #fff;
}

.my .cart {
    margin-left: 26px;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    width: 104px;
    height: 32px;
    position: relative;
}

.logo_dark {
    display: none;
    position: absolute;
}


/************** visual  **************/
.visual_section.box {
    position: relative;
    height: 100vh;
    width: 100%;
}

.visuals {
    width: 300%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
}

.visual {
    background: url('img/visual_main.png') no-repeat center / cover;
    height: 100%;
    width: 33.333333%;
    display: flex;
}

.visual:nth-child(2) {
    background: url('img/visual_main2.png') no-repeat center / cover;
}

.visual:last-child {
    background: url('img/visual_main3.png') no-repeat center / cover;
}

input[name=tabmenu] {
    display: none;
}

.btn {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.btn label {
    display: block;
    margin: 15px 0;
    font-size: 16px;
    color: #fff;
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    transition: .3s;
    text-align: right;
}

input[id=tab1]:checked~.btn label[for=tab1],
input[id=tab2]:checked~.btn label[for=tab2],
input[id=tab3]:checked~.btn label[for=tab3] {
    font-size: 32px;
    font-weight: var(--font-weight-bold);
}

input[id=tab1]:checked~.visuals {
    margin-left: 0;
}

input[id=tab2]:checked~.visuals {
    margin-left: -100%;
}

input[id=tab3]:checked~.visuals {
    margin-left: -200%;
}

/************** season  **************/
.season {
    margin: 140px auto;
    display: flex;
}

.season .left {
    flex: 1;
}

.season .right {
    flex: 1;
}

.season .left_img {
    width: 510px;
    height: 610px;
    background: url('img/season1.png') no-repeat top / cover;
    margin-top: 30px;
}

.season .right_img {
    width: 600px;
    height: 470px;
    background: url('img/season2.png') no-repeat top / cover;
    margin-bottom: 53px;
}


/************** collection  **************/
#collection {
    background: #f5f5f5;
}

.collection_section.container {
    padding: 92px 0;
    overflow: hidden;
    position: relative;
}

.collection_section input {
    display: none;
}

.collections {
    width: 300%;
    height: 580px;
    display: flex;
    overflow: hidden;
    transition: all .5s;
}

.collection {
    width: 100%;
    height: 580px;
    position: relative;
    display: flex;
}

.clt.img {
    width: 825px;
    height: 580px;
}

.collection .clt.img {
    background: url('img/collection.png') no-repeat center / cover;
}

.collection:nth-child(2) .clt.img {
    background: url('img/collection2.png') no-repeat center / cover;
}

.collection:nth-child(3) .clt.img {
    background: url('img/collection3.png') no-repeat center / cover;
}

.collection .descrip {
    display: inline-block;
    width: 416px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 50;
    transform: translateY(-50%);
}

.clt.btn {
    right: 0;
    z-index: 100;
}

.clt.btn label {
    color: #000;
    cursor: pointer;
}

input[id=cell_tab1]:checked~.clt.btn label[for=cell_tab1],
input[id=cell_tab2]:checked~.clt.btn label[for=cell_tab2],
input[id=cell_tab3]:checked~.clt.btn label[for=cell_tab3] {
    font-size: 32px;
    font-weight: var(--font-weight-bold);
}

input[id=cell_tab1]:checked~.collections {
    margin-left: 0;
}

input[id=cell_tab2]:checked~.collections {
    margin-left: -100%;
}

input[id=cell_tab3]:checked~.collections {
    margin-left: -200%;
}







/* .none {
    display: none;
} */



/************** new  **************/


/************** video  **************/


/************** footer  **************/